<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/Homepage.css" />
  </head>

  <body>
      <nav class="navbar">
        <div class="desktop-nav">
          <div class="left-nav">
            <div class="logo">
              <img src="../static/images/Logo.svg" width="" height=""/>
            </div>
            <div>
              <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Language Courses</a></li>
                <li><a href="#">More</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
        </div>
        
      <div class="right-nav">
      <div class="lang-selector">
        <button class="lang-btn" id="lang-btn">
          <img class="globe-icon" src="../static/images/language-icon.svg" width="20" height="20" />
          <span id="selected-lang">English</span>
          <span class="carets"></span>
        </button>
        <ul class="lang-dropdown" id="lang-dropdown">
          <li data-lang="en">English</li>
          <li data-lang="fr">French</li>
        </ul>
      </div>
        <div class="search-container">
          <input class="search-field" placeholder="Search"/>
          <img src="../static/images/search-btn.svg" width="20" height="20" />
            <button id="login_button">Log in</button>
        </div>
        </div>
    </div>
  </nav>

    <div id="body_div">
      <span id="text_part">
        <div id="main_title">
          <p>
            Franco-Ghanaian cultural exchange through <span id="Fr">Fr</span
            ><span id="en">en</span><span id="ch">ch</span>
          </p>
        </div>

        <div id="subtext">
          <p>
            Bridging a Franco-Ghanaian culture through cultural exchange and
            linguistic values that is fueled by a passion of enrichment. Learn
            to speak a language with confidnece.
          </p>
        </div>

        <br />
        <br />

        <div id="subtext_undertext">
          <p>French and English learning options</p>
          <p>One-on-one course/Corporate course</p>
          <p>Certificate and tests</p>
        </div>

        <br />
        <br />
        <br />

        <p id="select_a_lang">Select a language to learn</p>

        <span id="lang_drop_down_and_start_learning_button">
          <div class="lang_drop_down">
            <div class="select">
              <span class="selected">Twi</span>

              <div class="caret"></div>
            </div>

            <ul class="menu">
              <li class="active">Twi</li>
              <li href="#">English</li>
              <li href="#">French</li>
              <li href="#">Spanish</li>
              <li href="#">Dutch</li>
            </ul>
          </div>

          <br />

          <button type="button_type" id="start_learning_button">
            Start learning
          </button>
        </span>
      </span>

      <!--<span id=lang_drop_down_and_start_learning_button>

       <span id="lang_dropdown">
         <button>Dropdown</button>
         <div id="drop_down_content">
           <a href="#">Link 1</a>
           <a href="#">Link 2</a>
           <a href="#">Link 3</a>
           <a href="#">Link 4</a>
         
         </div>
       </span>

      
	     <button type= button_type id="start_learning_button" > Start learning </button>
       

     </span>-->

      <span id="image_part">
        <img src="../static/images/hero-image.svg" width="500" height="500" />
      </span>
    </div>

    <br />
    <br />
    <br />

    <!-- <span id="bottmimgstest">
 <img src="image folder/nice pic.jpg">
  <img src="image folder/nice pic.jpg">
   <img src="image folder/nice pic.jpg">
    <img src="image folder/nice pic.jpg">
</span> -->

    <div id="footer" width="500" height="500">
      <footer>
        <p>footer text</p>
      </footer>
    </div>

    <script src="../static/js/script.js"></script>
  </body>
</html>
